
{% extends 'base.html' %}
{% block content %}

<!-- BOOKING FORM -->
<h2>Booking for {{ train.name }}</h2>

<div class="card">
<form method="POST">
    <input type="text" name="name" placeholder="Full Name" required>
    <input type="number" name="age" placeholder="Age" required>
    
    <select name="gender">
        <option>Male</option>
        <option>Female</option>
    </select>

    <select name="berth">
        <option>Lower</option>
        <option>Middle</option>
        <option>Upper</option>
    </select>

    <button type="submit">Confirm Booking</button>
</form>
</div>

{% endblock %}
