
 {% extends 'base.html' %}
{% block content %}

<!-- BANNER -->
<img src="/static/images/train-banner.jpg" class="banner">

<!-- SEARCH FORM -->
<div class="card">
    <form action="/search" method="POST">
        <input type="text" name="from" placeholder="From" required>
        <input type="text" name="to" placeholder="To" required>
        <input type="date" name="date" required>
        <select name="class">
            <option>SL</option>
            <option>3AC</option>
            <option>2AC</option>
        </select>
        <button type="submit">Search Trains</button>
    </form>
</div>

{% endblock %}
